<footer class="mt-auto">
    <div class="text-center bg-primary d-flex justify-content-center mt-4 py-2 gap-3">
        <a class="text-decoration-none text-white" href="{{ path('rgpd__privacy_policy') }}">Politique de confidentialité</a>
        <a class="text-decoration-none text-white" href="{{ path('rgpd__gcu') }}">CGU</a>
        <a class="text-decoration-none text-white" href="{{ path('rgpd__gcs') }}">CGV</a>
    </div>
</footer>