{% extends 'base.html.twig' %}

{% block title %}Uikit{% endblock %}

{% block body %}
    <div data-controller="example">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}