.form-control {
  border-radius: 0 !important;
}
.dropdown-menu{
  border-radius: 0 !important;
}

select {
  border-radius: 0 !important;
}

.form-check {
  input {
    border-radius: 0 !important;
  }
}

.choices {
  margin-bottom: 0;
}
//input[type="datetime-local" i] {
//  //width: 180px !important;
//}

//fieldset.mb-3 {
//  margin-bottom: 0 !important;
//}