ul.sidebar-menu {
  // ..

  li.item {
    a {
      color: $dark;
      text-decoration: none;
    }
    a:hover {
      color: $primary !important;
    }
  }

  li.item.current {
    a {
      color: $primary;
      text-decoration: underline;
    }
    a:hover {
      color: $dark !important;
    }
  }

  //li.item.first {
  //  a {
  //    // ..
  //  }
  //}
  //
  //li.item.last {
  //  a {
  //    // ..
  //  }
  //}
}