.login {
  margin-top: 50px;
  margin-bottom: 20px;
  position: absolute;
  //top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
}

@media (max-width: 400px) {
  .login {
    width: 300px !important;
  }
}
