{% extends 'base.html.twig' %}

{% block title %}Politiques de confidentialité{% endblock %}

{% block body %}
    <div class="container">
        {{ privacyPoliticy.body | raw }}
    </div>
{% endblock %}